.header {
  height: 80px;

  &__logo {
    width: 200px;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    color: #3E2330;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
  }
}